<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<main id="main" class="main">

    <!-- Left side columns -->
    <div class="col-lg-12">
      <div class="row">

               <!-- Hotels Card -->
              <div class="col-xxl-4 col-md-6">
                <div class="card info-card sales-card">
                  <div class="card-body">
                    <h5 class="card-title">Clients </h5>
                  
                    <div class="d-flex justify-content-center">
                      <div class=" d-flex  justify-content-center">
                        <h6>145</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!-- End hotels Card -->

                <!-- Rooms Card -->
                <div class="col-xxl-4 col-md-6">
                  <div class="card info-card sales-card">
                    <div class="card-body">
                      <h5 class="card-title">Tours </h5>
                    
                      <div class="d-flex justify-content-center">
                        <div class=" d-flex  justify-content-center">
                          <h6>3445</h6>
                        </div>
  
                      </div>
                    </div>
                  </div>
                </div><!-- End Rooms Card -->
                    <!-- Managers Card -->
              <div class="col-xxl-4 col-md-6">
                <div class="card info-card sales-card">
                  <div class="card-body">
                    <h5 class="card-title">Reservation </h5>
                  
                    <div class="d-flex justify-content-center">
                      <div class=" d-flex  justify-content-center">
                        <h6>145</h6>
                      </div>

                    </div>
                  </div>
                </div>
              </div><!-- End Managers Card -->

      </div>
    </div>

</main>
<!--<app-footer></app-footer>-->