<app-navbar></app-navbar>
<main id="main" class="main">

    <div class="d-flex  justify-content-between">
      <h3>List of Client </h3>
      <button type="button" class="btn btn-primary mb-4" data-bs-toggle="modal" data-bs-target="#addclient">
        Add Client
      </button>
    </div>
    <table class="table align-middle mb-0 bg-white">
      <thead class="bg-light">
        <tr>
          <th>firstName</th>
          <th>lastName</th>
          <th>email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of clients">
          <td>
            <div class="d-flex align-items-center">
              <img src="assets/img/logo.png" alt="" style="width: 45px; height: 45px"
                class="rounded-circle" />
              <div class="ms-3">
                <p class="fw-bold mb-1">{{client.firstName}}</p>
  
              </div>
            </div>
          </td>
          <td>
            <p class="fw-normal mb-1">{{client.lastName}}</p>
          </td>
          <td>
            <span class="fw-normal mb-1">{{client.email}}</span>
          </td>
         
          <td>
            <a class="btn btn-link btn-sm btn-rounded">
              <i (click)="onOpenModal(client,'edit')" class="fa fa-edit" aria-hidden="true"></i>
            </a>
            <a class="btn btn-link btn-sm btn-rounded">
              <i (click)="onOpenModal(client,'delete')" data-placement="top" data-original-title="Delete"
                class="fa fa-trash" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
  
  
      </tbody>
    </table>
  
    <!-- modal add client  -->
    <div class="modal" id="addclient">
      <div class="modal-dialog">
        <div class="modal-content">
  
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Add Client</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
  
          <!-- Modal body -->
          <div class="modal-body">
  
  
            <form #addForm="ngForm" (ngSubmit)="addClient(addForm)">
              <div class="form-group">
                <label for="firstName">firstName</label>
                <input type="text" ngModel name="firstName" class="form-control" id="firstName" placeholder="firstName"
                  required>
              </div>
              <div class="form-group">
                <label for="lastName">lastName</label>
                <input type="text" ngModel name="lastName" class="form-control" id="lastName" placeholder="lastName"
                  required>
              </div>
              <div class="form-group">
                <label for="lastName">phoneNumber</label>
                <input type="number" ngModel name="phoneNumber" class="form-control" id="phoneNumber" placeholder="phoneNumber"
                  required>
              </div>
              <div class="form-group">
                <label for="lastName">address</label>
                <input type="text" ngModel name="address" class="form-control" id="address" placeholder="address"
                  required>
              </div>
              <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" ngModel name="email" class="form-control" id="email" placeholder="Email" required>
              </div>
  
              <div class="form-group mb-3">
                <label for="password">password</label>
                <input type="password" ngModel name="password" class="form-control" id="password" placeholder="password"
                  required>
              </div>
  
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save changes</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- end modal client  -->
  
    <!-- modal update client  -->
    <div class="modal" id="updateClient">
      <div class="modal-dialog">
        <div class="modal-content">
  
        
          <div class="modal-header">
            <h4 class="modal-title">update Client</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
      
          <div class="modal-body">
            <form #editForm="ngForm">
              <div class="form-group">
                <label for="firstName">firstName</label>
                <input type="text" ngModel="{{editClient?.firstName}}" name="firstName" class="form-control" id="firstName" aria-describedby="emailHelp" placeholder="firstName">
              </div>
              <div class="form-group">
                <label for="lastName">lastName</label>
                <input type="text" ngModel="{{editClient?.lastName}}" name="lastName" class="form-control" id="lastName" placeholder="lastName"
                  required>
              </div>
              <div class="form-group">
                <label for="lastName">phoneNumber</label>
                <input type="number" ngModel="{{editClient?.phoneNumber}}" name="phoneNumber" class="form-control" id="phoneNumber" placeholder="phoneNumber"
                  required>
              </div>
              <div class="form-group">
                <label for="lastName">address</label>
                <input type="text" ngModel="{{editClient?.address}}" name="address" class="form-control" id="address" placeholder="address"
                  required>
              </div>
              <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" ngModel="{{editClient?.email}}" name="email" class="form-control" id="email" placeholder="Email" required>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" ngModel="{{editClient?.password}}" name="password" class="form-control" id="password" placeholder="password"
                  required>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button [disabled]="editForm.invalid" (click)="UpdateEmloyee(editForm.value)" type="submit"
                  class="btn btn-primary">Save changes</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- end update client  -->
    <!-- Delete Modal -->
    <div class="modal fade" id="deleteClient" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModelLabel">Delete Client</h5>
            <button type="button" class="close btn btn-rounded mb-4" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete Client  {{deleteClient?.firstName}} ?</p>
            <div class="modal-footer">
              <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button> -->
              <button (click)="deleteClientById(deleteClient.userId)" class="btn btn-danger" data-dismiss="modal">Yes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Delete Modal -->
  </main>
<app-sidebar></app-sidebar>

